.footer{
    background-color:black;
    padding: 2rem;
}
.contenido{
    display: grid;
    color: white;
    justify-content: space-around;
}
@media (min-width: 768px) {
    .contenido{
        display: flex;
    }
     
}
.nav{
  
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.nav a{

    color: white;
    text-decoration: none;
}
.nav a:hover{

color: orangered;
}