.contenido{
  display:grid;
  gap:4rem;
  
  

    
}
@media (min-width: 768px) {
  .contenido{
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 2rem;
    align-items: center;

  }
     
}